* {
    font-family: monospace;
}

a{
    color:black;
}

.info>*{
    margin-bottom: 10px;
    font-size: inherit;
    background-color: transparent;
    transition: font-size 0.15s, background-color 0.15s;
}

.info>*:hover{
    font-size: 105%;
    cursor:text;
}

.info>*> :is(.name, .age, .pronouns) {
    transition: background-color 0.2s;
}

.info>*:hover > :is(.name, .age, .pronouns){
    background-color: rgb(255, 255, 192);
    border-radius: 7px;
}

.links{
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.links>th, td{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: underline;
}

footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: darkgrey;
    border-radius: 0px;
    opacity: .5;
    text-align: center;
}

html, body{
    cursor: crosshair;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;

    margin: 0;
    padding: 0;

    min-height: 100vh;
    font-size: 130%;
}

.content{
    margin: 10px;
    height:150vh;
}

h1{
    margin: auto;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;

    margin: 0;
    padding: 0;
    
    z-index: -1; /* Pushes the entire layer behind everything else */
    overflow: hidden;
}

#star_01 { top: 50px; left: 10%;}
#star_02 { top: 400px; right: 50%;}

.ascii{
    font-family: Arial, Helvetica, sans-serif;

    user-select: none;
    
    line-height: 1.25em;
    letter-spacing: -0.05em;
    text-wrap-mode: nowrap;

    transform-origin:center;
    transform: rotate(deg);
    font-size: 25px;
    color:rgb(0, 0, 0);

    width: 300px;
    height: auto;

    transition: color .5s;
    
    text-shadow: 4px 4px 10px #cccbcb;

    position: absolute;

    opacity: 0.2;
}

.ascii:hover{
    color:rgb(194, 194, 194);
}

.shake{
    background:none;
    border-style: none;
    padding: 0px;
}


::selection {
    background: rgb(148, 243, 107);
}

@keyframes fade_out {
    0% {opacity: 0%;}
    15% {opacity: 100%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}
}

@keyframes confetti-fall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    top: 50%;
    transform: rotate(360deg);
  }
}

.confetti_particle{
    position: absolute;
    width: 10px;
    height: 10px;
    animation: fade_out 3s, confetti-fall 3s;
}