* {
    font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}

::selection {
    background: rgba(148, 243, 107, 0.726);
}

a, button{
    color:black;
}

.background{
    position: absolute;
    
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    z-index: -1; /* Pushes the entire layer behind everything else */

    overflow-x: hidden;
}

#star_01 { top: 50px; left: 2.5%;}
#star_02 { top: 400px; right: 40%;}

.ascii{
    font-family: Arial, Helvetica, sans-serif;
    
    user-select: none;
    
    line-height: 1.25em;
    letter-spacing: -0.05em;
    text-wrap-mode: nowrap;
    
    transform-origin:center;
    transform: rotate(deg);
    font-size: 25px;
    color:rgb(0, 0, 0);
    
    width: 300px;
    height: auto;
    
    transition: color .5s;
    
    text-shadow: 4px 4px 10px #cccbcb;
    
    position: absolute;
    
    opacity: 0.2;
}

.ascii:hover{
    color:rgb(194, 194, 194);
}

html, body{
    cursor: crosshair;
    height: 200%;
    width: 100%;
    flex-direction: column;
    display: flex;
    
    margin: 0;
    padding: 0;
    
    font-size: 120%;
}

.content{
    margin: 10px;
    margin-top: 1.3%;
}

.content>*{
    margin-left: 1.3%;
    margin-right: 1.3%;
}

h1, h2, h3, h4, h5, h6{
    margin: auto;
}

.info>*{
    margin-bottom: 10px;
    font-size: inherit;
    background-color: transparent;
    transition: font-size 0.15s, background-color 0.15s;
}

.info>*:hover{
    font-size: 105%;
    cursor:text;
}

.info>*> :is(.name, .age, .pronouns) {
    transition: background-color 0.2s;
}

.info>*:hover > :is(.name, .age, .pronouns){
    background-color: rgb(255, 255, 192);
    border-radius: 7px;
}

.col_container{
    display: flex;
    flex-direction: row;
}

.col_container>.panel{
    margin-left: auto;
}

.left_panel, .right_panel, .panel{
    margin-top: 25px; 
    margin-bottom: 25px; 
    background-color: rgba(169, 169, 169, 0.35);
    padding: 20px;
    cursor: text;
}

#donut-ascii{
    height:40%;
    width:40%;
    image-rendering: pixelated;
    margin:auto;
}

.shake{
    background:none;
    border-style: none;
    padding: 0px;
}

@keyframes fade_out {
    0% {opacity: 0%;}
    15% {opacity: 100%;}
    30% {opacity: 100%;}
    60% {opacity: 0%;}
    100% {opacity: 0%;}
}

@keyframes confetti-fall {
    0% {
        transform: rotate(0deg);
    }
    100% {
        top: 30%;
        transform: rotate(360deg);
    }
}

.confetti{
    cursor: pointer;
}

.confetti_particle{
    position: absolute;
    width: 10px;
    height: 10px;
    animation: fade_out 2s, confetti-fall 2s;
}

footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: darkgrey;
    border-radius: 0px;
    opacity: .5;
    text-align: center;
}

.links{
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.links>th, td{
    width: 175px;

    text-align: center;
    text-decoration: underline;
}

@media only screen and (max-width: 9in) /* Mobile */
{
    footer{
        font-size: 80%;
    }
    
    .links>th, td{
        width: 145px;
    }
    
    .left_panel, .right_panel{
        margin-bottom: 40px; 
    }

    .col_container{
        flex-direction: column;
    }

    .col_container>*{
        margin-left: 0px;
        margin-right: 0px;
    }

    .col_container>.panel{
        margin-left: 0%;
    }

    #donut-ascii{
    height:100%;
    width:100%;
    order: 1;
    }
}

@media only screen and (min-width: 10in) 
{
    .left_panel{
        margin-right:49%; 
        margin-left: 20px;
    }

    .left_panel .copy{
        left: calc(20px);
    }

    .right_panel .copy{
        right: calc(30px + 10px + 1px + 10px + 10px);
    }
    
    .right_panel{
        margin-left:49%; 
        margin-right: 20px;
    }
    
    .half-width{
        width: 50%;
    }
}

.md-header{
    
}